
<!-- header -->
<header class="header">
	<div class="inner-wrap">
		<div class="main-menu-wrap js-popup-wrap" data-class-open="menu-show">
			<a href="" class="btn-menu js-btn-toggle"></a>
			<div class="menu-block js-popup-block">
				<ul>
					<li><a href="">Test 01</a></li>
					<li><a href="">Test 02</a></li>
					<li><a href="">Test 03</a></li>
					<li><a href="">Test 04</a></li>
					<li><a href="">Test 05</a></li>
					<li><a href="">Test 06</a></li>
					<li><a href="">Test 07</a></li>
					<li><a href="">Test 08</a></li>
				</ul>
			</div>
		</div>
		<div class="main-menu-wrap js-popup-wrap" data-class-open="menu-test">
			<a href="" class="btn-menu menu-second js-btn-toggle"></a>
			<div class="menu-block js-popup-block">
				<ul>
					<li><a href="">Test 01</a></li>
					<li><a href="">Test 02</a></li>
					<li><a href="">Test 03</a></li>
					<li><a href="">Test 04</a></li>
					<li><a href="">Test 05</a></li>
					<li><a href="">Test 06</a></li>
					<li><a href="">Test 07</a></li>
					<li><a href="">Test 08</a></li>
				</ul>
			</div>
		</div>
		<div class="main-menu-wrap js-popup-wrap no-close">
			<a href="" class="btn-menu menu-third js-btn-toggle"></a>
			<div class="menu-block js-popup-block">
				<ul>
					<li><a href="">Test 01</a></li>
					<li><a href="">Test 02</a></li>
					<li><a href="">Test 03</a></li>
					<li><a href="">Test 04</a></li>
					<li><a href="">Test 05</a></li>
					<li><a href="">Test 06</a></li>
					<li><a href="">Test 07</a></li>
					<li><a href="">Test 08</a></li>
				</ul>
			</div>
		</div>
	</div>
</header>
<!-- /header -->